/* *{
    margin: 0;
} */
input{
    width: 15vw;
    height: 2vh;
    border-radius: 5px;
}
form{
    text-align: center;
}
table{
    margin: 0 auto;
    margin-top: 40px;
    width: 75vw;
    color: black;
    background-color: rgba(245, 245, 220, 0.638);
    height: 7vh;
    
}
th{
    text-align: center;
    border: 1px black solid;

}

#button{
    width: 20vw;
    height: 5vh;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
}
thead{
    height: 5vh;
}
#buttoniki{
    border-radius: 10px;
    color: black;
    background-color: red;
    width: 10vw;
    height: 4vh;
    display: none;
}