*{
    margin: 0;
padding: 0;
    box-sizing: border-box;
}
div{
    height: 40vh;
    width: 80vw;
/* margin-left: 10px; */

}
#divbir{
background-color: rgb(32, 145, 145);
}
button{
    width: 25vw;
   height: 4vh;
   border: none;
   border-radius: 10px;
   background-color: rgb(222, 210, 210);
}
#diviki{
background-color: rgb(152, 45, 6);
}

#divuc{
background-color: rgb(166, 101, 112);
}

#divdord{
background-color: rgb(186, 13, 186);
}
#esas{
   display: flex;
   justify-content: space-around;
  }
  h2{
   text-align: center;
   margin-top: 7vw;
  }
  h1{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
  }
  #buttonbir{
margin-top: 19.7vw;
  }
  #buttoniki{
margin-top: 11.1vw;
  }
  #buttonuc{
margin-top: 11.1vw;
  }
  #buttondord{
margin-top: 11.1vw;
  }
  body{
    background-color: black;
  }